# Week 2 Day 01 : Python For Everyone
## Topics
* **Tuples**: An ordered, immutable collection of elements, defined using parentheses () :
* **Sets** : An unordered, mutable collection of unique elements, defined using curly brackets {} or the set() function
---
[Youtube Playlist](https://www.youtube.com/playlist?list=PLAIRSMdFhzoKg8KZ5zIbH64wtV8bhshfT)

For previous check out 
* [Week 01 Day 01](./Week%2001%20Day%2001/w1-D1-notebook.ipynb)
* [Week 01 Day 02](./week%2001%20Day%2002.ipynb) 
* [Week 01 Day 03](./week%2001%20Day%2003.ipynb)
* [Week 01 Day 04](./week%2001%20Day%2004.ipynb)
* [Week 01 Day 05](./week%2001%20Day%2005.ipynb)
* [Week 02 Day 01](./Week%2002%20Day%2001.ipynb)

## **Tuples and Sets: Basic,Immutability, set Operations**
Tuples and Sets are two important built-in data types in Python used for storing collections of items.
*   Tuples are ordered and immutable.
*   Sets are unordered, mutable, and do not allow duplicates.

### **Tuples - Basics**
A tuple is a collection which is ordered and unchangeable (immutable).
Tuples allow duplicate values and support indexing and slicing.

In [ ]:
# # A tuple is an immutable, ordered collection of elements
# my_tuple = (1, 2, 3, "Python", 3.14)
# print("My tuple:", my_tuple)

In [ ]:
t=(4,7,"python",5.4)
print(t)

(4, 7, 'python', 5.4)

In [ ]:
print("print the 3rd index value: ", t[2])

print the 2nd index value:  python

In [ ]:
print("Last two elements:", t[2:])

Last two elements: ('python', 5.4)

In [ ]:
# Tuple indexing and slicing
print("First element:", my_tuple[0])
print("Last two elements:", my_tuple[-2:])

### **Tuples - Immutability**
Tuples are immutable, meaning their elements cannot be changed after creation.
However, if a tuple contains a mutable object (like a list), the object itself can be changed.

In [ ]:

try:
  t[0]=100
except TypeError as e:
  print("Error:", e)

Error: 'tuple' object does not support item assignment

In [ ]:
t1=(4,7,"python",5.4,[5,6,8])
# t1.add()
# t1.append()
# t1.insert()

# t1.remove()
# t1.pop()
# t1.clear()

In [ ]:
# # Tuples are immutable: You can't change them
# try:
#     my_tuple[0] = 100
# except TypeError as e:
#     print("Error:", e)

In [ ]:
t1=(4,7,"python",5.4,[5,6,8])
print(t1)

(4, 7, 'python', 5.4, [5, 6, 8])

In [ ]:
t1[4].append(13)
print(t1)

(4, 7, 'python', 5.4, [5, 6, 8, 14, 14, 13])

In [ ]:
# # However, tuples can contain mutable elements like lists
# mutable_inside = ([1, 2], 3)
# mutable_inside[0].append(3)
# print("Tuple with list:", mutable_inside)

Tuple Methods & Use-Cases
Tuples support a few basic methods:

*   .count(x) returns the number of occurrences of x.
*   .index(x) returns the first index of x.

Tuples are often used to return multiple values from functions.

In [ ]:
# Tuple methods: count and index
t = (1, 2, 9, 2, 3, 6)
# print("Count of 2:", t.count(2)) # count/ occurance

print("Index of 9:", t.index(9)) # find the index

Index of 9: 2

In [ ]:
# Use-case: Returning multiple values from a function
def min_max(numbers):
    return (min(numbers), max(numbers))

result = min_max([10, 3, 5, 100])
print("Min and Max:", result)

In [ ]:
list1=[5,8,3,7,22,66,83]


print(min(list1), max(list1))

3 83

In [ ]:
#Using enumerate() with tuples helps when you need both index and value in a loop.
# names = ["Ali", "Sara", "John"]

t = ("ali","ahmed","sara")
for index, name in enumerate(t):
    print(index, name)

0 ali
1 ahmed
2 sara

In [ ]:
#Using in zip(): zip() returns tuples, useful for pairing elements.
names = ("Ali", "Sara", "ahmed")
scores = [85, 90,87]

for name, score in zip(names, scores):
    print(names, score)

('Ali', 'Sara', 'ahmed') 85
('Ali', 'Sara', 'ahmed') 90
('Ali', 'Sara', 'ahmed') 87

In [ ]:
#Tuples can be used as keys in dictionaries when the key is a combination of values.
#grades = {("Ali", "Math"): 90, ("Ali", "Physics"): 85}

grades = {90:("Ali", "Math") , 85:("Ali", "Physics")}

#print(grades[("Ali", "Math")])
print(grades[90])

('Ali', 'Math')

## **Sets - Basics**
A set is a collection that is unordered, mutable, and contains only unique elements.
It is useful for membership tests, removing duplicates, and performing mathematical set operations.

In [ ]:
# A set is an unordered, mutable collection of unique elements
my_set = {1, 2, 3, 2, 1}
print("My Set:", my_set)  # Duplicates are removed

In [ ]:
# Creating an empty set
empty_set = set()
print("Type of empty_set:", type(empty_set))

Type of empty_set: <class 'set'>

### **Set Operations**
Python sets support standard set theory operations:

*   Union (|): Combines all unique elements.
*   Intersection (&): Common elements.
*   Difference (-): Elements in one set, not the other.
*   Symmetric Difference (^): Elements in either set, but not both( Keeps only those elements that are unique to each set.).

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference A - B:", A - B)
print("Symmetric Difference:", A ^ B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Difference A - B: {1, 2}
Symmetric Difference: {1, 2, 5, 6}

### **Set Methods**
Sets have powerful built-in methods like:

*   add(x) : Adds an element.
*   discard(x) : Removes an element if it exists.

Membership testing using in.

In [ ]:
s = {1, 2, 3}
s.add(4)
s.discard(2)
print("Updated Set:", s)

# Check membership
print("Is 3 in set?", 3 in s)

### Set Immutability (Frozenset)

*   A frozenset is an immutable version of a set.
*   Once created, you cannot modify it.

In [ ]:
# Frozenset is an immutable version of set
f = frozenset([1, 2, 3])
print("Frozen set:", f)

# Cannot modify frozenset
try:
    f.add(4)
except AttributeError as e:
    print("Error:", e)

## **Practice: Tricky Scenarios**

In [ ]:
list1=["python", 1,2,1,5]


t=(5,3,["python",7,9])
t[2].pop()
t[2].append(10)
print(t)

(5, 3, ['python', 7, 10])

In [ ]:
# Tuple unpacking trick
a, b, c = (10, 20, 30)
print("a:", a, "b:", b, "c:", c)

# Swapping with tuples
x, y = 5, 10
x, y = y, x
print("Swapped: x =", x, "y =", y)

In [ ]:
# Set puzzle - What will be the length?
s = set("hello")
print("Set from 'hello':", s)
print("Length:", len(s))  # Unique letters only

In [ ]:
# Nested mutable element inside a tuple
t = ([1, 2], [3, 4])
t[0].append(5)
print("Modified Tuple with lists:", t)

In [ ]:
#zip() returns tuples, useful for pairing elements.
names = ["Ali", "Sara"]
scores = [85, 90]
for name, score in zip(names, scores):
    print(name, score)

In [ ]:
#Using enumerate() with tuples helps when you need both index and value in a loop.
names = ["Ali", "Sara", "John"]
for index, name in enumerate(names):
    print(index, name)

In [ ]:
#Tuples can be used as keys in dictionaries when the key is a combination of values.
grades = {("Ali", "Math"): 90, ("Ali", "Physics"): 85}
print(grades[("Ali", "Math")])

## **Final Tricky Practice Problems**

In [ ]:
x = (1, 2, 3)
y = (1, 2, 3)
print(x is y)     # Identity check
print(x == y)     # Equality check

False
True

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
print(set1 == set2)  # Order doesn't matter in sets

In [ ]:
def find_duplicates(lst):
    seen = set()
    dupes = set()
    for item in lst:
        if item in seen:
            dupes.add(item)
        seen.add(item)
    return dupes

print(find_duplicates([1, 2, 3, 2, 4, 5, 1]))