# Day 03 Python For Everyone
---
##  Topics : Input Function, Data Types & Printing Like a Pro

[Youtube Playlist](https://www.youtube.com/playlist?list=PLAIRSMdFhzoKg8KZ5zIbH64wtV8bhshfT)

For previous check out 
* [Week 01 Day 01](./Week%2001%20Day%2001/w1-D1-notebook.ipynb)
* [Week 01 Day 02](week%2001%20Day%2002.ipynb)

### **Topics Covered** 
* [Getting Data Types](#getting-the-data-type)
* [Setting Specific Data Types](#setting-the-specific-data-type)
* [Numeric Type in Python](#python-numbers)
* [Type Conversion](#type-conversion)
* [Input in Python](#input-in-python)
* [Printing like pro](#printing-like-a-pro)
* [Practise Exercise](#practice-exercises)

### **Getting the Data Type**
You can get the data type of any object by using the type() function:

In [ ]:
x = 5
print(type(x))

<class 'int'>

### **Setting the Specific Data Type**
If you want to specify the data type, you can use the following constructor functions:

In [ ]:
var1 = str("Hello World")	#str
var2 = int(20)	            #int
var3 = float(20.5)         #float
var4 = bool(0)            #bool
print(type(var1),var1)
print(type(var2),var2)
print(type(var3),var3)
print(type(var4),var4)

<class 'str'> Hello World
<class 'int'> 20
<class 'float'> 20.5
<class 'bool'> False

### **Python Numbers**
There are three numeric types in Python:

*   Int
*   Float
*   Complex


Variables of numeric types are created when you assign a value to them:

####  **Int**
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x),x)
print(type(y))
print(type(z))

<class 'int'> 1
<class 'int'>
<class 'int'>

#### **Float**
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z),z)

<class 'float'>
<class 'float'>
<class 'float'> -35.59

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x),x)
print(type(y),y)
print(type(z),z)

<class 'float'> 35000.0
<class 'float'> 120000.0
<class 'float'> -8.77e+101

#### **Complex**
Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 3+5j
print(type(x),x)

###  **Type Conversion**
You can convert from one type to another with the int(), float(), and complex() methods:

**Note:** You cannot convert complex numbers into another number type.

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

# #convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

###  **Input** in Python
* input() Function
* Used to take user input as a string.

In [ ]:
number = input("Enter a number: ")
print("Hello, ",type(number),number)

Enter a number: 3.4
Hello,  <class 'str'> 3.4

Convert Input to Other Types

In [ ]:
age=int(input("Enter your Age:"))
print("You are", type(age))

 Output in Python

In [ ]:
print("Hello, World!")

Hello, World!

###  Printing like a pro 
* with multiple agruments
* using f-string
* with .format()
* padding with zeros
* Thousand Seperator

Print with Multiple Arguments

In [ ]:
x = 5
y = 10
print("Sum of ", x, "and", y, "is", x + y)

Sum of 5 and 10 is 15

Using f-strings (Python 3.6+)

In [ ]:
name = "Alice"
score = 95
print(f"{name} scored {score} marks.")

Alice scored 95 marks.

Format Output with .format()

In [ ]:
pi=int(input("Enter value of pi: "))
print("The value of pi is approximately {}".format(pi))

Enter value of pi: 343
The value of pi is approximately 343

Padding with zeros

In [ ]:
num = 7
print("Number: {:03}".format(num))  # Pads with zeros to make it 3 digits

Number: 007

Thousands separator

In [ ]:
big_number = 1000000
print("Formatted: {:,}".format(big_number))

Formatted: 1,000,000

# **Practice Exercises**

**Type Conversion / Casting**

1. Convert the string "123" into an integer and add 10 to it.

2. Convert a float number 12.75 into an integer and print the result.

3. Take a float number as input from the user and convert it to a string, then print its type.

4. Convert boolean values True and False into integers and print the results.

In [ ]:
var1="123"
var2=int(var1)
print(var2+10)

133

**Input / Output**
1. Ask the user to enter their name and age, and print a message like:
"Hello John, you are 25 years old."

2. Write a program that asks the user for two numbers and prints:

* Their sum

* Their difference

* Their product

3. Format the output of π to 3 decimal places like this:
"The value of pi is approximately 3.142"