# Week 03 Day 03 : Python For Everyone

### Topics : Lambda Function , Sorting & Search 
---
* [Youtube Playlist](https://www.youtube.com/playlist?list=PLAIRSMdFhzoKg8KZ5zIbH64wtV8bhshfT) 
* [GitHub Repo](https://github.com/muhammadfahd/python-for-everyone-course) 
* [Read me ](README.md) 

For previous check out
* [Week 03 Day 01](./Week%2003%20Day%2001.ipynb)
* [Week 03 Day 02](./Week%2003%20Day%2002.ipynb)
* [Week 03 Day 03](./Week%2003%20Day%2003.ipynb)

Join Icodeguru For live Classes 
* [Join Now](https://icode.guru/join/)
---

## **Membership Testing, Sorting & Searching in Python**
**‚úÖ Concept:**
Membership testing is used to check if a value exists in a collection (like lists, sets, tuples, dicts, or strings) using the in and not in operators.

**üß™ Syntax:**
value in collection
value not in collection

In [ ]:
# # List
# fruits = ['apple', 'banana', 'cherry']
# #print('apple' in fruits)     # True
# print('mango' not in fruits) # True

 # String
# text = "hello world"
# print('t' in text)           # True

# Set
# num_set = {1, 2, 3}
# print(3 in num_set)          # False

# Dictionary: only checks keys
student = {'name': 'Alice', 'age': 21, 'address':'ISB'}
#print('name' in student)     # True
#print('address' in student)
print('Alice' in student)    # False

False

‚ö†Ô∏è **Notes**:
For **dictionaries**, in checks keys, not values.
in is case-sensitive in strings and lists.

In [ ]:
d = {'a': 1, 'b': 2}
# 'a' in d      # ‚úÖ True (checks keys)
1 in d        # ‚ùå False (1 is a value, not a key)

False

In [ ]:
#'a' in 'Apple'    # ‚ùå False (case-sensitive)
#'A' in 'Apple'    # ‚úÖ True

#'x' in ['X', 'y'] # ‚ùå False
'X' in ['X', 'y'] # ‚úÖ True

True

## **Sorting in Python**

Built-in sorted() vs .sort()

* sorted(iterable): returns a new sorted list
* .sort(): sorts the list in place

In [ ]:
nums = [4, 2, 9, 1]
print(sorted(nums))  # [1, 2, 4, 9]
print(nums)          # [4, 2, 9, 1] (unchanged)

nums.sort()
print(nums)          # [1, 2, 4, 9] (modified)

In [ ]:
list1=[7,6,3,5,0,2,7,8]
print(sorted(list1))
print(f"return the list1: {list1}")

[0, 2, 3, 5, 6, 7, 7, 8]
return the list1: [7, 6, 3, 5, 0, 2, 7, 8]

In [ ]:
list1=[7,6,3,5,0,2,7,8]
list1.append(15)
list1.sort()
print(f"return the list1: {list1}")

return the list1: [0, 2, 3, 5, 6, 7, 7, 8, 15]

### **Descending Order:**

In [ ]:
data = [5, 2, 8, 1]
print(sorted(data, reverse=True))  # [8, 5, 2, 1]

## Lambda Function
A lambda function is a small anonymous function.
A lambda function can take any number of arguments, but can only have one expression.

* lambda arguments : expression

* **What is lambda** : It's a function that: Takes one input: x Returns the same thing: x
* **inline function** : is a function that is defined and used directly within the expression ‚Äî instead of defining it separately with def.
In Python, lambda functions are the most common form of inline functions.

In [ ]:
# Add 10 to argument a, and return the result:
x = lambda a : a + 10
print(x(5))

In [ ]:
# Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))

In [ ]:
# Summarize argument a, b, and c and return the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

### **Why Use Lambda Functions?**
The power of lambda is better shown when you use them as an anonymous function inside another function.
* Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
# Use that function definition to make a function that always doubles the number you send in:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

**Note:** Use lambda functions when an anonymous function is required for a short period of time.

In [ ]:
words = ['apple', 'banana', 'grape']
sorted_words = sorted(words, key=lambda x: x)  # Sorts alphabetically (default)
print(sorted_words)

In [ ]:
numbers = [1, 2, 3, 4]
new_numbers = list(map(lambda x: x, numbers))
print(new_numbers)

[1, 2, 3, 4]

The sorted() function returns a sorted list of the specified iterable object.

You can specify ascending or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.

**Note:** You cannot sort a list that contains BOTH string values AND numeric values.
**Syntax**
sorted(iterable, key=key, reverse=reverse)

![sorted para.PNG]()

## Sorting

In [ ]:
# Sort numeric:

a = (1, 11, 2)
x = sorted(a)
print(x)

[1, 2, 11]

In [ ]:
# Sort ascending:

a = ("h", "b", "a", "c", "f", "d", "e", "g")
x = sorted(a)
print(x)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
# Sort descending:

a = ("h", "b", "a", "c", "f", "d", "e", "g")
x = sorted(a, reverse=True)
print(x)

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
# Sort using the key parameter.

# To sort a list by length, we can use the built-in len function.

a = ("Jenifer", "Sally", "Jane")
x = sorted(a, key=len)
print(x)

['Jane', 'Sally', 'Jenifer']

In [ ]:
# Sort by a self made function for the key parameter.

# Sort the list by the number closest to 10:

def myfunc(n):
  return abs(10-n)

a = (5, 3, 1, 11, 2, 12, 17)
x = sorted(a, key=myfunc)
print(x)

[11, 12, 5, 3, 17, 2, 1]

In [ ]:
students = [
    {'name': 'Ali', 'score': 90},
    {'name': 'Sara', 'score': 95},
    {'name': 'John', 'score': 85}
]
sorted_students = sorted(students, key=lambda x: x['score'])
print(sorted_students)

[{'name': 'John', 'score': 85}, {'name': 'Ali', 'score': 90}, {'name': 'Sara', 'score': 95}]

In [ ]:
students_scores = [(1, 90), (2, 95), (3, 85)]  # each tuple could represent (ID, score)
sorted_scores = sorted(students_scores, key=lambda x: x[1])
print(sorted_scores)

[(3, 85), (1, 90), (2, 95)]

In [ ]:
students_scores = [[5, 90], [12, 95], [3, 85]]
sorted_scores = sorted(students_scores, key=lambda x: x[0])
print(sorted_scores)

[[3, 85], [5, 90], [12, 95]]

In [ ]:
sorted_scores = sorted(students_scores, key=lambda x: x[1], reverse=True)
print(sorted_scores)

[[12, 95], [5, 90], [3, 85]]

### **Custom sorting (e.g., vowel count)**

In [ ]:
words = ['apple', 'banana', 'grape']

def count_vowels(word):
    vowels = 0
    for letter in word:
        if letter in 'aeiou':
            vowels += 1
    return vowels

sorted_words = sorted(words, key=count_vowels)
print(sorted_words)

['apple', 'grape', 'banana']

## **Searching in Python**
* **Linear Search:** : Loop through each item in a list to find a match.
* **Binary Search (Requires sorted list):** : Efficient search using divide and conquer.

In [ ]:

def linear_search(list, target):
    for index, value in enumerate(list):
        if value == target:
            return index
    return -1

print(linear_search([10, 20, 30, 40], 30))  # Output: 2

2

In [ ]:
def binary_search(list, target):
    low, high = 0, len(list)-1
    while low <= high:
        mid = (low + high) // 2
        if list[mid] == target:
            return mid
        elif list[mid] < target:
            low = mid + 1
        else:
            high = mid - 1
    return -1

nums = [1, 3, 5, 7, 9, 11]
print(binary_search(nums, 7))  # Output: 3

3

### **üìö Bonus: Use Python bisect module**

In [ ]:
import bisect

nums = [1, 3, 5, 7, 9]
index = bisect.bisect_left(nums, 5)
print(index)  # 2

## **üìù Practice Questions**

**üí° Membership Testing**
Write a program that checks if a word exists in a sentence. Use in to test if a key exists in a dictionary and return its value.

**üí° Sorting**
* Sort a list of strings by their last character.
* Sort a list of dictionaries based on a 'price' field.

**üí° Searching**
* Write a linear search function to find the first occurrence of a value.
* Implement binary search to find an item in a sorted list.
* Try to use Python‚Äôs bisect to insert a number into a sorted list while keeping it sorted.

### **Write a program that:**

Takes a list of names and scores
Sorts them in descending order of scores
Checks if a specific name is in the top 3

In [ ]:
# Sample data: list of (name, score) tuples
data = [
    ("Alice", 88),
    ("Bob", 95),
    ("Charlie", 82),
    ("David", 90),
    ("Eve", 87)
]

# Name to check
name_to_check = "David"

# Define a function to get the score from each tuple
def get_score(item):
    return item[1]

# Sort the data in descending order of scores using the function
sorted_data = sorted(data, key=get_score, reverse=True)

# Get the top 3 names
top_3 = [entry[0] for entry in sorted_data[:3]]

# Check if the name is in the top 3
if name_to_check in top_3:
    print(f"{name_to_check} is in the top 3.")
else:
    print(f"{name_to_check} is not in the top 3.")

### **Solution of the practice questions:**

**‚úÖ Membership Testing**

In [ ]:
# Check if a word exists in a sentence
sentence = "Python is a powerful and easy-to-learn language."
word = "powerful"

if word in sentence:
    print(f"'{word}' exists in the sentence.")
else:
    print(f"'{word}' does not exist in the sentence.")

# Use 'in' to check if a key exists in a dictionary and return its value
student_scores = {"Alice": 85, "Bob": 90, "Charlie": 78}
key = "Bob"

if key in student_scores:
    print(f"{key}'s score is {student_scores[key]}")
else:
    print(f"{key} not found in the dictionary.")

**üí° Sorting**

In [ ]:
# Sort a list of strings by their last character
words = ["apple", "banana", "cherry", "date"]
sorted_by_last_char = sorted(words, key=lambda w: w[-1])
print("Sorted by last character:", sorted_by_last_char)

# Sort a list of dictionaries based on a 'price' field
products = [
    {"name": "pen", "price": 1.2},
    {"name": "book", "price": 5.0},
    {"name": "notebook", "price": 2.5}
]
sorted_by_price = sorted(products, key=lambda item: item["price"])
print("Sorted by price:", sorted_by_price)

 üí° **Searching**

**Linear Search**

In [ ]:
def linear_search(lst, target):
    for i, value in enumerate(lst):
        if value == target:
            return i
    return -1

numbers = [3, 8, 2, 5, 7]
target = 5
index = linear_search(numbers, target)
print(f"Linear search: {target} found at index {index}")

**Binary Search**

In [ ]:
def binary_search(lst, target):
    low, high = 0, len(lst) - 1
    while low <= high:
        mid = (low + high) // 2
        if lst[mid] == target:
            return mid
        elif lst[mid] < target:
            low = mid + 1
        else:
            high = mid - 1
    return -1

sorted_list = [1, 3, 5, 7, 9]
target = 7
index = binary_search(sorted_list, target)
print(f"Binary search: {target} found at index {index}")

**Using bisect to Insert While Keeping List Sorted**

In [ ]:
import bisect

sorted_numbers = [1, 3, 5, 7]
bisect.insort(sorted_numbers, 4)
print("List after inserting 4 using bisect:", sorted_numbers)