# Week 2 Day 03 : Python For Everyone
## Topics
* **Tuples**: An ordered, immutable collection of elements, defined using parentheses () :
* **Sets** : An unordered, mutable collection of unique elements, defined using curly brackets {} or the set() function
---
[Youtube Playlist](https://www.youtube.com/playlist?list=PLAIRSMdFhzoKg8KZ5zIbH64wtV8bhshfT)

For previous check out 
* [Week 01 Day 01](./Week%2001%20Day%2001/w1-D1-notebook.ipynb)
* [Week 01 Day 02](./week%2001%20Day%2002.ipynb) 
* [Week 01 Day 03](./week%2001%20Day%2003.ipynb)
* [Week 01 Day 04](./week%2001%20Day%2004.ipynb)
* [Week 01 Day 05](./week%2001%20Day%2005.ipynb)
* [Week 02 Day 01](./Week%2002%20Day%2001.ipynb)
* [Week 02 Day 02](./week%2001%20Day%2002.ipynb)

# **Tuples and Sets: Basic,Immutability, set Operations**

Tuples and Sets are two important built-in data types in Python used for storing collections of items.
*   Tuples are ordered and immutable.
*   Sets are unordered, mutable, and do not allow duplicates.

## **Tuples - Basics**
A tuple is a collection which is ordered and unchangeable (immutable).
Tuples allow duplicate values and support indexing and slicing.

In [ ]:
# # A tuple is an immutable, ordered collection of elements
# my_tuple = (1, 2, 3, "Python", 3.14)
# print("My tuple:", my_tuple)

In [2]:
t=(1,24,"fahd")
type(t)

tuple

In [ ]:
t=(4,7,"python",5.4)
print(t)

(4, 7, 'python', 5.4)

In [ ]:
print("print the 3rd index value: ", t[2])

print the 2nd index value:  python

In [ ]:
print("Last two elements:", t[2:])

Last two elements: ('python', 5.4)

In [ ]:
# Tuple indexing and slicing
print("First element:", my_tuple[0])
print("Last two elements:", my_tuple[-2:])

### **Tuples - Immutability**
Tuples are immutable, meaning their elements cannot be changed after creation.
However, if a tuple contains a mutable object (like a list), the object itself can be changed.

In [ ]:

try:
  t[0]=100
except TypeError as e:
  print("Error:", e)

Error: 'tuple' object does not support item assignment

In [ ]:
t1=(4,7,"python",5.4,[5,6,8])
# t1.add()
# t1.append()
# t1.insert()

# t1.remove()
# t1.pop()
# t1.clear()

In [ ]:
# # Tuples are immutable: You can't change them
# try:
#     my_tuple[0] = 100
# except TypeError as e:
#     print("Error:", e)

In [ ]:
t1=(4,7,"python",5.4,[5,6,8])
print(t1)

(4, 7, 'python', 5.4, [5, 6, 8])

In [ ]:
t1[4].append(13)
print(t1)

(4, 7, 'python', 5.4, [5, 6, 8, 14, 14, 13])

In [ ]:
# # However, tuples can contain mutable elements like lists
# mutable_inside = ([1, 2], 3)
# mutable_inside[0].append(3)
# print("Tuple with list:", mutable_inside)

Tuple Methods & Use-Cases
Tuples support a few basic methods:

*   .count(x) returns the number of occurrences of x.
*   .index(x) returns the first index of x.

Tuples are often used to return multiple values from functions.

In [ ]:
# Tuple methods: count and index
t = (1, 2, 9, 2, 3, 6)
# print("Count of 2:", t.count(2)) # count/ occurance

print("Index of 9:", t.index(9)) # find the index

Index of 9: 2

In [ ]:
# Use-case: Returning multiple values from a function
def min_max(numbers):
    return (min(numbers), max(numbers))

result = min_max([10, 3, 5, 100])
print("Min and Max:", result)

In [ ]:
list1=[5,8,3,7,22,66,83]


print(min(list1), max(list1))

3 83

In [ ]:
#Using enumerate() with tuples helps when you need both index and value in a loop.
# names = ["Ali", "Sara", "John"]

t = ("ali","ahmed","sara")
for index, name in enumerate(t):
    print(index, name)

0 ali
1 ahmed
2 sara

In [ ]:
#Using in zip(): zip() returns tuples, useful for pairing elements.
names = ("Ali", "Sara", "ahmed")
scores = [85, 90,87]

for name, score in zip(names, scores):
    print(names, score)

('Ali', 'Sara', 'ahmed') 85
('Ali', 'Sara', 'ahmed') 90
('Ali', 'Sara', 'ahmed') 87

In [ ]:
#Tuples can be used as keys in dictionaries when the key is a combination of values.
#grades = {("Ali", "Math"): 90, ("Ali", "Physics"): 85}

grades = {90:("Ali", "Math") , 85:("Ali", "Physics")}

#print(grades[("Ali", "Math")])
print(grades[90])

('Ali', 'Math')

## **Sets - Basics**
A set is a collection which is unordered, unchangeable*, and unindexed.
It is useful for membership tests, removing duplicates, and performing mathematical set operations.

**Note:** Set items are unchangeable, but you can remove items and add new items.

In [ ]:
# A set is an unordered, unchangeable collection of unique elements
my_set = {1, 2, 3, 2, 1}
print("My Set:", my_set)  # Duplicates are removed

My Set: {1, 2, 3}

### **Duplicates Not Allowed**
Sets cannot have two items with the same value.

In [ ]:
fruits_set = {"apple", "banana", "cherry", "apple"}

print(fruits_set)

{'banana', 'apple', 'cherry'}

**Note:** The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2,False,0}

print(thisset)

In [ ]:
sets ={"apple",1,"banna",False,0,True}
print(sets)

{False, 1, 'apple', 'banna'}

### **Set Items - Data Types**
Set items can be of any data type:

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'banana', 'apple', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [ ]:
# A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'abc'}

### **The set() Constructor**
It is also possible to use the set() constructor to make a set.

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

### Access Items
You **cannot** access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
# access items of set using loop
fruits = {"apple", "banana", "cherry"}

for x in fruits:
  print(x)

banana
apple
cherry

In [ ]:
# using in keyword
fruits = {"apple", "banana", "cherry"}

print("mango" in fruits)

False

In [ ]:
fruits = {"apple", "banana", "cherry"}

print("mango" not in fruits)

True

### Add Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [ ]:
# Add an item to a set, using the add() method:

fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'banana', 'apple', 'cherry', 'orange'}

### Add Sets
To add items from another set into the current set, use the update() method.

In [ ]:
# Add elements from fruitset2 into fruitset1:

fruitset1 = {"apple", "banana", "cherry"}
fruitset2 = {"pineapple", "mango", "papaya","apple"}

fruitset1.update(fruitset2)

print(fruitset1)

{'mango', 'papaya', 'apple', 'pineapple', 'banana', 'cherry'}

### Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
# Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'kiwi', 'orange', 'banana', 'cherry'}

### Remove Item
To remove an item in a set, use the remove(), or the discard() method.

**Note:** If the item to remove does not exist, remove() will raise an error.

In [ ]:
# Remove "banana" by using the remove() method:

fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'apple', 'cherry'}

**Note:** If the item to remove does not exist, discard() will NOT raise an error.

In [ ]:
# Remove "banana" by using the discard() method:

fruits = {"apple", "banana", "cherry"}

fruits.discard("mango")

print(fruits)

{'apple', 'cherry'}

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

In [ ]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

print(fruits)

banana
{'apple', 'cherry'}

**Note:** Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [ ]:
# The clear() method empties the set:

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [ ]:
# The del keyword will delete the set completely:

fruits = {"apple", "banana", "cherry"}

del fruits

## **Set Operations**
Python sets support standard set theory operations:

*   Union (|): Combines all unique elements.
*   Intersection (&): Common elements.
*   Difference (-): Elements in one set, not the other.
*   Symmetric Difference (^): Elements in either set, but not both( Keeps only those elements that are unique to each set.).

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Difference A - B:", A - B)
print("Symmetric Difference:", A ^ B)

### Join Sets
There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

### Union
The union() method returns a new set with all items from both sets.

In [ ]:
# Join set1 and set2 into a new set:

set1 = {"a", "b", "c"}
tuple1 = ( 1, 2, 3, 4, 5)

set3 = set1.union(tuple1)
print(set3)

{'c', 1, 2, 3, 4, 5, 'b', 'a'}

You can use the | operator instead of the union() method, and you will get the same result.

In [ ]:
# Use | to join two sets:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

### Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [ ]:
# Join multiple sets with the union() method:

set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'c', 1, 2, 3, 'b', 'John', 'bananas', 'apple', 'a', 'Elena', 'cherry'}

## Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [ ]:
# Join a set with a tuple:

x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

**Note:** The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

### Update
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [ ]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,"a","b"}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

**Note:** Both union() and update() will exclude any duplicate items.

### Intersection
Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [ ]:
# Join set1 and set2, but keep only the duplicates:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

You can use the & operator instead of the intersection() method, and you will get the same result.

**Note:** The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [ ]:
# Keep the items that exist in both set1, and set2:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [ ]:
# Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates:

set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

### Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [ ]:
# Keep all items from set1 that are not in set2:

set1 = {"apple", "banana", "cherry"}
set2 = ["google", "microsoft", "apple"]

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

You can use the - operator instead of the difference() method, and you will get the same result.

In [ ]:
# Use - to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

The **difference_update()** method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

In [ ]:
# Use the difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

The **symmetric_difference()** method will keep only the elements that are NOT present in both sets.

In [ ]:
# Keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'microsoft', 'google', 'banana', 'cherry'}

You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

In [ ]:
# Use ^ to join two sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'microsoft', 'google', 'banana', 'cherry'}

**Note:** The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

The **symmetric_difference_update()** method will also keep all but the duplicates, but it will change the original set instead of returning a new set

In [ ]:
# Use the symmetric_difference_update() method to keep the items that are not present in both sets:

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

![pic1.PNG]()

![pic2.PNG]()

## Tuple Practice Questions
**Basic Operations**

* Create a tuple of five elements (integers, strings, or mixed).

* Try changing a value in the tuple. What happens?

* Access the 3rd element in a tuple.

**Tuple Unpacking**

* Unpack a tuple of 3 elements into three variables and print them.

**Nested Tuples**

* Create a tuple that contains two tuples and access the second element of the second tuple.

**Tuple Functions**

* Count how many times a value appears in a tuple.

* Find the index of a value in a tuple.

In [ ]:
tuple1=(1,2,3,4,2,4,2,3,2,4)
print(tuple1.index(2))

1

## Set Practice Questions
**Basic Set Operations**

* Create a set with repeated values and print it.

* Add a new element to the set.

* Remove an element from the set.

**Set Operations**

* Given two sets, find their:

* Union

* Intersection

* Difference

* Symmetric Difference

**Set Applications**

* Find unique characters in a string using a set.

* Remove duplicates from a list using a set.

**Set Comparisons**

* Check if one set is a subset or superset of another.

* Check if two sets are disjoint.

## **Set Methods**
Sets have powerful built-in methods like:


*   add(x) : Adds an element.
*   discard(x) : Removes an element if it exists.






Membership testing using in.

In [ ]:
list1 = ['Hello', 2, 3, 2, 3]
list2 = set(list1)         # Convert to set (removes duplicates)
list3 = list(list2)        # Convert set back to list
print(list3)

TypeError: 'list' object is not callable

In [ ]:
s = {1, 2, 3}
s.add(4)
s.discard(2)
print("Updated Set:", s)

# Check membership
print("Is 3 in set?", 3 in s)

Set Immutability (Frozenset)

*   A frozenset is an immutable version of a set.
*   Once created, you cannot modify it.

In [ ]:
# Frozenset is an immutable version of set
f = frozenset([1, 2, 3])
print("Frozen set:", f)

# Cannot modify frozenset
try:
    f.add(4)
except AttributeError as e:
    print("Error:", e)

## **Practice: Tricky Scenarios**

In [ ]:
list1=["python", 1,2,1,5]


t=(5,3,["python",7,9])
t[2].pop()
t[2].append(10)
print(t)

(5, 3, ['python', 7, 10])

In [ ]:
# Tuple unpacking trick
a, b, c = (10, 20, 30)
print("a:", a, "b:", b, "c:", c)

# Swapping with tuples
x, y = 5, 10
x, y = y, x
print("Swapped: x =", x, "y =", y)

In [ ]:
# Set puzzle - What will be the length?
s = set("hello")
print("Set from 'hello':", s)
print("Length:", len(s))  # Unique letters only

In [ ]:
# Nested mutable element inside a tuple
t = ([1, 2], [3, 4])
t[0].append(5)
print("Modified Tuple with lists:", t)

In [ ]:
#zip() returns tuples, useful for pairing elements.
names = ["Ali", "Sara"]
scores = [85, 90]
for name, score in zip(names, scores):
    print(name, score)

In [ ]:
#Using enumerate() with tuples helps when you need both index and value in a loop.
names = ["Ali", "Sara", "John"]
for index, name in enumerate(names):
    print(index, name)

In [ ]:
#Tuples can be used as keys in dictionaries when the key is a combination of values.
grades = {("Ali", "Math"): 90, ("Ali", "Physics"): 85}
print(grades[("Ali", "Math")])

## **Final Tricky Practice Problems**

In [ ]:
x = (1, 2, 3)
y = (1, 2, 3)
print(x is y)     # Identity check
print(x == y)     # Equality check

False
True

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}
print(set1 == set2)  # Order doesn't matter in sets

In [ ]:
def find_duplicates(lst):
    seen = set()
    dupes = set()
    for item in lst:
        if item in seen:
            dupes.add(item)
        seen.add(item)
    return dupes

print(find_duplicates([1, 2, 3, 2, 4, 5, 1]))