# Week 2 Day 5 : Python For Everyone

### Topics : Built in Function , Nested Loops , Loops with Functions & Practise Examples 
---
[Youtube Playlist](https://www.youtube.com/playlist?list=PLAIRSMdFhzoKg8KZ5zIbH64wtV8bhshfT)
[GitHub Repo](https://github.com/muhammadfahd/python-for-everyone-course)
For previous check out <br>

* [Week 02 Day 01](./Week%2002%20Day%2001.ipynb)
* [Week 02 Day 02](./week%2001%20Day%2002.ipynb)
* [Week 02 Day 03](./Week%2002%20Day%2003.ipynb)
* [Week 02 Day 04](./Week%2002%20Day%2004.ipynb)

Join Icodeguru For live Classes 
* [Join Now](https://icode.guru/join/)

## Built-in Functions in Python
Built-in functions are pre-defined functions provided by Python to perform common tasks without writing extra code.

### For Examples:
* print() – displays output
* len() – returns the length of a string, list, etc.
* type() – returns the data type of a variable
* max() / min() – finds the largest/smallest value
* sum() – adds all elements in a list

### Real-life Example:
Imagine you have a list of students' marks and you want to find the average:

In [ ]:
marks = [90, 85, 78, 92]
average = sum(marks) / len(marks)
print("Average Marks:", average)

Average Marks: 86.25

## Nested Loops
A nested loop is a loop inside another loop. The inner loop completes all its iterations for each iteration of the outer loop.

In [ ]:
for i in range(5):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

### Patterns 
* Right Angle 
* Half Number

In [ ]:
# Right-Angle Triangle Pattern
rows = 5
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Half Number Pyramid
rows = 5
for i in range(1, rows + 1):
    for j in range(1,i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Real-life Example:
Imagine you’re arranging seats in a movie theater with 3 rows and 2 seats per row:

In [ ]:
for row in range(1, 4):
    for seat in range(1, 5):
        print(f"Number of row {row} in seats {seat}")

Number of row 1 in seats 1
Number of row 1 in seats 2
Number of row 1 in seats 3
Number of row 1 in seats 4
Number of row 2 in seats 1
Number of row 2 in seats 2
Number of row 2 in seats 3
Number of row 2 in seats 4
Number of row 3 in seats 1
Number of row 3 in seats 2
Number of row 3 in seats 3
Number of row 3 in seats 4

## Logic Practice with Functions
Practicing logic with functions involves using Python functions to write reusable code and solve logical problems.

In [ ]:
def greet(name):
    return f"Hello, {name}!"

print(greet("Alice"))
print(greet("Bob"))

Hello, Alice!
Hello, Bob!

### Logic Practice Tip:
Break down complex problems into small, testable functions.

### Real-life Example:
Let’s say you want to build a simple function to check if someone is eligible to vote:

In [ ]:
def is_eligible_to_vote(age):
    if age >= 18:
        return True
    else:
        return False

print(is_eligible_to_vote(20))  # Output: True
print(is_eligible_to_vote(16))  # Output: False

True
False

### More Practice Ideas:

- Function to check if a number is prime
- Function to reverse a string
- Function to calculate factorial using a loop
- Print half Triangle of  Alphabets
- Print Full Pyramid
- You have a list of expenses: [2500, 3000, 1500, 4000]. Calculate the average monthly expense using built-in functions.
- Create a function calculate_discount(price, discount_percent) that returns the final price after applying the discount.

### 1.Function to reverse a string

In [ ]:
# Function to reverse a string

def reverse_string(input_string):
  """Reverses a given string."""
  return input_string[::-1]

# Example usage:
my_string = "Mehtab Ahmed"
reversed_my_string = reverse_string(my_string)
print(reversed_my_string) # Output: aksalA

demhA batheM

### 2.Function to calculate factorial using a loop

In [ ]:
# Function to calculate factorial using a loop

def factorial_loop(n):
  """Calculates the factorial of a non-negative integer using a loop.

  Args:
    n: The non-negative integer for which to calculate the factorial.

  Returns:
    The factorial of n.
  """
  if n < 0:
    return "Factorial is not defined for negative numbers"
  elif n == 0:
    return 1
  else:
    result = 1
    for i in range(1, n + 1):
      result *= i
    return result

# Example usage:
number = int(input("Enter a non-negative integer: "))
print(f"The factorial of {number} is: {factorial_loop(number)}")

number = 0
print(f"The factorial of {number} is: {factorial_loop(number)}")

number = -2
print(f"The factorial of {number} is: {factorial_loop(number)}")

Enter a non-negative integer: -3
The factorial of -3 is: Factorial is not defined for negative numbers
The factorial of 0 is: 1
The factorial of -2 is: Factorial is not defined for negative numbers

### 3. Function calculate_discount(price, discount_percent) that returns the final price after applying the discount

In [ ]:
# Create a function calculate_discount(price, discount_percent) that returns the final price after applying the discount.

def calculate_discount(price, discount_percent):
  """Calculates the final price after applying a discount.

  Args:
    price: The original price.
    discount_percent: The discount percentage (e.g., 10 for 10%).

  Returns:
    The final price after the discount.
  """
  discount_amount = (price * discount_percent) / 100
  final_price = price - discount_amount
  return final_price

# Example usage:
original_price = 100
discount = 20
final_price = calculate_discount(original_price, discount)
print(f"Original price: ${original_price}")
print(f"Discount: {discount}%")
print(f"Final price: ${final_price}")

Original price: $100
Discount: 20%
Final price: $80.0

## Student Report Card System (Console-Based)

### Project Goal:

* Build a Python program that:
* Stores student information
* Accepts marks for subjects
* Calculates total and average
* Assigns grades
* Allows repeated entry using loops
* Uses functions for clean code

### Concepts Used from Your Learning:
| Concept             | How It’s Used                         |
  |---------------------|---------------------------------------|
  | Variables/Data Types| Store student name, marks, etc.       |
  | Control Flow        | Decide grade based on average         |
  | Loops               | Input multiple subjects or students   |
  | Functions           | Reusable logic for calculation, grading|
  | Lists/Dictionaries  | Store marks and student records       |
  | Built-in Functions  | sum(), len(), input(), print() etc.   |

In [ ]:
# Function to calculate grade
def calculate_grade(avg):
    if avg >= 95:
        return "A"
    elif avg >= 80:
        return "B"
    elif avg >= 70:
        return "C"
    elif avg >= 60:
        return "D"
    else:
        return "F"

# Function to calculate total, average, and grade
def process_student(name, marks):
    total = sum(marks)
    avg = total / len(marks)
    grade = calculate_grade(avg)
    print(f"\nReport Card for {name}")
    print("Total Marks:", total)
    print("Average Marks:", avg)
    print("Grade:", grade)
    print("-" * 30)

# Main program
students = int(input("How many students? "))

for i in range(students):
    print(f"\n--- Enter data for Student {i + 1} ---")
    name = input("Enter name: ")
    marks = []
    subjects = int(input("How many subjects? "))

    for j in range(subjects):
        mark = float(input(f"Enter marks for subject {j + 1}: "))
        marks.append(mark)

    process_student(name, marks)

How many students? 1

--- Enter data for Student 1 ---
Enter name: Ali
How many subjects? 1
Enter marks for subject 1: 90

Report Card for Ali
Total Marks: 90.0
Average Marks: 90.0
Grade: B
------------------------------